.highest_luck {
    background-color: #5cb85c;
}
.highest_luck > td {
    color: white;
}
.dataTables_info {
    display: none !important;
}
.dataTables_paginate {
	display: none !important;
}
.iconimg {
	min-height: 150px !important;
}

.jumbotron {
	position: relative;
	z-index: 5;
}

.jumbotron::before {
	background: url("../img/harnessracing.jpg");
	background-size: cover ;
	background-repeat:no-repeat;
	background-position: center;
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .4;

}

.temperature {
	position: relative;
	z-index: 5;
}

.temperature::before {
	background-image: url("../img/temperature.png");
	background-repeat:no-repeat;
	background-position: center;
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .4;
}

.humidity {
	position: relative;
	z-index: 5;
}

.humidity::before {
	background-image: url("../img/humidity.png");
	background-repeat:no-repeat;
	background-position: center;
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .4;
}

.pressure {
	position: relative;
	z-index: 5;
}

.pressure::before {
	background-image: url("../img/pressure.png");
	background-repeat:no-repeat;
	background-position: center;
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .4;
}

.luminance {
	position: relative;
	z-index: 5;
}

.luminance::before {
	background-image: url("../img/luminance.png");
	background-repeat:no-repeat;
	background-position: center;
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .4;
}




.iconimg_text {
	padding-top: 37px;
	text-align: center;
	font-size: 45px;
	font-family: 'League Gothic','Arial Narrow',sans-serif;
	font-weight: bolder;
}